body {
    margin:0;
    padding:0;
    font-family: 'Lora', serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

#naslovna {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-image: url("../Slike/naslovna.jpg");
    background-size: cover;
    z-index: -1;   
}

#navbar {
    background: rgba(35, 1, 12, 0.70);
    padding: 10px 20px;
    position: sticky;
    margin-top: 6vh;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Lora', serif;
}


#logo img {
    margin-top: 8%;
    height: 5vh;
}

#navlinks {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

#navlinks li {
    margin-right: 6vw;
}

#navlinks a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s; 
}
#navlinks a:hover {
    color: #BC9CA9; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}


#navlinks a:active {
    color: #45343b; 
}

.line {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 2px 0;
}

#hamburger {
    display: none; 
    cursor: pointer;
    order: 3;
}

#mobile-menu {
    display: none; 
    background-color: #45343b; 
    position: absolute;
    top: 100%;
    right: 0; 
    width: 200px; 
    padding: 0;
    margin: 0;
    transition: max-height 0.3s ease-in-out;
   
}

#mobile-menu.active {
    max-height: 500px; 
    transition: max-height 0.3s ease-in-out;
}

#mobile-menu ul {
    list-style: none;
    padding: 0;
}

#mobile-menu li {
    margin: 10px 0;
}

#mobile-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}


#navbar.stuck {
    background: rgb(35,1,12);
}

#content-1 {
    margin-top: 30vh;
    width: 100%;
    text-align: left;
    background-image: url("../Slike/bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#heading {
    padding-top: 35vh;
    width: 40%;
    float: right;
    text-align: center;
}

#cvece {
    font-size: 6em;
    color: #BC9CA9;
    font-weight: bold;
    margin-bottom: 0%;
}

#zsp {
    font-size: 3em;
    color: #BC9CA9;
    margin-top: 0%;
}

#image-container-1 {
    width: 60%;
    display: inline-block;
    position: relative;
}

#image-container-1 img {
    display: block;
    margin: 20px 60px auto;
    width: 90%;
    max-height: 100%;
    border-radius: 146px;
  }

#overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50%;
    height: 40%;
    background-color: rgba(35, 1, 12, 0.6); 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    border-radius: 85px;
}

#overlay p {
    font-family:'Lora', serif;
    color: white;
    font-weight: normal;
    font-size: 20px;
    margin-top: 6px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #BC9CA9;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Lora', serif;
    margin-top: 40px;
    text-decoration: none;
}

#about {
    position: relative;
    display: inline-block;
}

#about img {
    width: 100%;
    height: 50%;
    margin-top: 10vh;
}

#information {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 50%;
        height: 50%;
        background-color: rgba(35, 1, 12, 0.8); 
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding: 5%;
        text-align: center;
        border-radius: 85px ;
}

#information h1 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 2.5em;
    position: relative;
    color: #BC9CA9;
}

#information p {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 5%;
    text-align: justify;
    color: white;
  }

h1 {
    text-align: center;
    font-size: 3em;
    color: #BC9CA9;
}

#content-2 {
    width: 100%;
    background-image: url("../Slike/bg1.jpg");
    background-size: cover;
    position: relative;
    padding: 50px 0;
}

.image-description {
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
}

.image-description img {
    margin: 10px;
    width: 100%; /* Adjusted to be responsive */
    height: auto; /* Keeps the aspect ratio of the image */
    border-radius: 50%;
    border: 4px solid #BC9CA9;
    max-width: 300px; /* Maximum width of the image */
}

.image-description p {
    margin: 10px 0;
    font-weight: bold;
    background-color: #F2EDED; 
    padding: 10px; 
    border: 2px solid #BC9CA9; 
    border-radius: 10px;
    color: #23010C;
}

.image-container-4 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.aranzmani-item {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden; 
}

.aranzmani-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.aranzmani-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.aranzmani-overlay h2 {
    margin: 0;
}

.aranzmani-item .aranzmani-overlay {
    opacity: 1;
}

.aranzmani-item:hover .aranzmani-overlay {
    opacity:0.6;
}

.image-container-3 {
    position: relative;
    width: 100%;
    margin-top: 10%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    z-index: 2;
}

.image-overlay img {
    max-width: 60%;
    height: auto;
    animation: spin 8s linear infinite;
    transform-origin: center center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

.rectangle {
    width: 70vw;
    height: 40vh;
    background: linear-gradient(90deg, rgba(35, 1, 12, 0.60) 22.71%, rgba(35, 1, 12, 0.60) 37.81%, rgba(35, 1, 12, 0.52) 60.73%, rgba(188, 156, 169, 0.60) 89.90%);
    border-radius: 85px;
    margin: 0 auto;
    z-index: 1;
}

.rectangle h2 {
    margin-left: 30%;
    padding-top: 20px;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
}

.rectangle p {
    margin-left: 30%;
    margin-right: 5%;
    color: white;
    text-align: justify;
    font-size: 1em;
}

.aranzmani {
    width: 100%;
    margin-top: 10%;
    background-image: url("../Slike/bg1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 50px 0;
}

.aranzmani p {
    font-style: oblique;
    font-size: 1.2em;
    text-align: center;
    color: #68515a;
}

.naruci {
    position: relative;
    width: 100%;
    height: 50%;
}

.naruci img {
    width: 100%;
    height: 80%;
}

#text {
    position: absolute; 
    top: 0; 
    left: 30%; 
    width: 40%;
    text-align: center;
}

#nrc {
    font-size: 7em;
    color: #BC9CA9;
    font-weight: bold;
    margin-bottom: 0%;
}

#sb {
    font-size: 6em;
    color: #BC9CA9;
    margin-top: 0%;
}

.round-button {
    position: absolute;
    bottom: 15%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
    display: inline-block;
    border: none;
    border-radius: 50%; 
    background-color: #23010C;  
    padding: 40px; 
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.round-button:hover {
    box-shadow: 0 0 20px rgba(35, 1, 12, 0.7), 0 0 40px rgba(35, 1, 12, 0.5); 
}
  
.round-button img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 20%;
}

.product-gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 15%;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 15%;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-weight: bold;
    color: #f00;
}

#kontakt {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    color:#68515a;
}

/* Base styles for larger screens (default) */
.contact-heading {
    font-size: 36px; /* Existing font size */
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #23010C;
}

.contact-heading .us {
    color: #68515a;
    font-style: italic;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .contact-heading {
        font-size: 24px; /* Adjusted font size for smaller screens */
    }

    /* You can also adjust other elements here if needed */
}

form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    color: #333;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #333;
}

textarea {
    resize: none;
    height: 150px;
}

input[type="submit"] {
    background-color: #68515a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color:#BC9CA9;
}

.map-container {
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.map-container h3 {
    margin-left: 20px;
}

.social-media {
    margin-top: 20px;
    text-align: center;
}

.social-media h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.social-media ul {
    list-style-type: none;
    margin: 10px 0;
}

.social-media li {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.2s ease;
}

.social-media li:hover {
    transform: scale(1.2);
}

.social-media a {
    text-decoration: none;
}

.social-media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #BC9CA9; /* Change the color as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other elements */
}

.back-button-container {
    position: relative; /* or 'absolute' if needed */
    /* Other styling as required */
}

.back-button:hover {
    background-color: #9a7b8e; /* Darker shade for hover effect */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #23010C;
    color: #fff;
}

@media (max-width: 768px) {
    #navlinks {
        display: none;
    }

    #hamburger {
        display: block; 
    }

    #mobile-menu {
        display: none; 
    }
    
    #mobile-menu.active {
        display: block;
    }


    #logo img {
       margin-right: 150px;
    }

    #naslovna {
        height: 30vh;
    }

    #cvece,
    #zsp {
        position: static;
        font-size: 3em; 
        text-align: center;
        margin: 10px 0; 
    }

    #content-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    #heading {
        width: 100%;
        float: none;
        padding-top: 1vh;
    }

    #image-container-1 {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    #image-container-1 img {
        margin: 20px auto;
        border-radius: 20%;
    }

    #overlay {
        width: 60%;
        height: 50%; 
        border-radius: 20%;
    }
    
    #overlay p {
        font-size: 1em;
    }
    
    .button {
        padding: 5px 15px;
        font-size: 0.5em;
    }

    #information {
        position: absolute;
        width: 90%;
        height: 100%;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5%;
        
    }

    #information h1 {
       font-size: 1.5em;
    }

    #information p {
    font-size: 0.75em;
    color:white;
    } 
    
    #about img {
        opacity: 0;
    }


    .image-container-4 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .aranzmani-item {
        max-width: none; 
        width: 80%; 
    }

    .image-container-3 {
        display: none;
    }
    
    .naruci img {
        height: 60%;   
    }

    #text {
        right: 5%;
        top: 20%;
        width: 80%;

    }

    #nrc {
        font-size: 2em;
    }

    #sb {
        font-size: 1em;
    }

    .round-button {
        bottom: 10%;
        padding: 10px;
        left: 30%
    }

    .round-button img {
        max-width: 80%; 
        max-height: 80%;
        border-radius: 20%;
    }

    #kontakt {
        max-width: 100%;
        margin: 50px auto;
        padding: 10px; 
    }

    form {
        padding: 10px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        padding: 8px;
    }
}

  @media (min-width: 768px) {
    #mobile-menu {
        display: none;
    }

    #hamburger {
        display: none;
    }
}
