body {
    margin: 0;
    padding: 0;
    font-family: "Lora" serif;
    background-color: #f0f0f0;
}

header {
    font-style: oblique;
    font-size: 1.5em;
    text-align: center;
    background-color:rgb(101,77,85);
    color: #fff;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo {
    border: 1px solid #ddd;
    border-radius: 15%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.caption {
    padding: 10px;
    text-align: center;
    background-color: rgb(101,77,85);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.photo:hover {
    transform: scale(1.05);
}

.photo:hover .caption {
    opacity: 0.9; 
}
